<form>
    <p><b>{{dialogTitle}}</b></p>
    <div class="flexcol">
        <div class="form-group">
            <input type="checkbox" id="humanDie" name="humanDie">
            <label for="humanDie"><i class="fa-regular fa-dice-six"></i>&#8194;{{localize "jamesian.DialogHumanDie"}}</label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="occupationalDie" name="occupationalDie">
            <label for="occupationalDie"><i class="fa-regular fa-dice-six"></i>&#8194;{{localize "jamesian.DialogOccupDie"}}</label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="dreadDie" name="dreadDie">
            <label for="dreadDie" class="{{{riskColor}}}"><i class="fa-regular fa-dice-six"></i>&#8194;<b>{{localize "jamesian.DialogRiskDie"}}</b></label>
        </div>
    </div>
    </br>
</form>
