{{! Rules Tab }}
<section
	class="rules tab {{tab.cssClass}}"
	data-group="primary"
	data-tab="rules"
>
	<p><b>{{localize "jamesian.FailureRuleTitle"}} </b>{{localize
			"jamesian.FailureRuleText"
		}}</p>
	<p><b>{{localize "jamesian.TryingAgainRuleTitle"}} </b>{{localize
			"jamesian.TryingAgainRuleText"
		}}</p>
	<p><b>{{localize "jamesian.CooperateRuleTitle"}} </b>{{localize
			"jamesian.CooperateRuleText"
		}}</p>
	<p><b>{{localize "jamesian.CompeteRuleTitle"}} </b>{{localize
			"jamesian.CompeteRuleText"
		}}</p>
</section>